$first-accent-color: #f1a501;
$second-accent-color: #df6951;
$first-text-color: #212832;
$second-text-color: #181e4b;
$third-text-color: #5e6282;
$fourth-text-color: #f5f4fa;
$fifth-text-color: #686d77;
$sixth-text-color: #14183e;
$seventh-text-color: #1e1d4c;
$first-background-color: #ffffff;
// -----------------------------
$third-background-color: #eeeeee;
$line-color: #ececec;
