@media screen and (max-width: 479px) {
  .top-selling-section {
    padding-top: 80px;
    padding-bottom: 93px;
  }

  .top-selling-list {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .top-selling-decor {
    transform: rotate(90deg);
    bottom: -130px;
    right: 150px;
    z-index: -1;
  }
}
