@media screen and (max-width: 479px) {
  .hero-section {
    padding-bottom: 50px;
    background: none;
  }

  .hero-aside {
    width: 100%;
    padding-top: 70px;
  }

  .hero-aside__tagline {
    font-size: 14px;
  }

  .hero-aside__title {
    font-size: 42px;
  }

  .hero-aside__description {
    width: 100%;
    margin-top: 30px;
    font-size: 12px;
  }

  .hero-aside__buttons-block {
    margin-top: 84px;
    width: 100%;
  }

  .hero-animated-plane {
    position: absolute;
    right: 40%;
    top: 74px;

    &:hover {
      transform: scale(2);
    }
  }
}
