.footer-section {
  @extend .section;
  padding-top: 166px;
  padding-bottom: 79px;
}

.footer-container {
  @extend .container;
}

.footer-main-block {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.footer-logo-block {
  width: 207px;
}

.footer-logo-block__logo {
  font-size: 44px;
  line-height: 1.5;
  color: $second-text-color;
}

.footer-logo-block__description {
  margin-top: 19px;
  font-size: 13px;
  line-height: 1.25;
  color: $third-text-color;
}

.footer-menu-list {
  display: flex;
  justify-content: space-between;
  width: 474px;
  margin-top: 20px;
  flex-shrink: 0;

  & ul {
    margin-top: 34px;
  }
}

.footer-menu-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.25;
  color: $eighth-text-color;
}

.footer-menu-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.25;
  color: $third-text-color;
  &:not(:first-child) {
    margin-top: 13px;
  }
}

.footer-social-links {
  margin-top: 20px;
}

.social-links-list {
  display: flex;
  width: 214px;
}

.social-links-item {
  &:not(:first-child) {
    margin-left: 25px;
  }
}

.footer-social-link {
  display: block;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.social-links-item__link_facebook {
  @extend .footer-social-link;
  background: url('../images/facebook-icon.svg') no-repeat
      center,
    $first-background-color;
}
.social-links-item__link_instagram {
  @extend .footer-social-link;
  background: url('../images/instagram-icon.svg') no-repeat
      center,
    conic-gradient(
      from 180deg at 50% 50%,
      #b8d2f1 0deg,
      #f289aa 60deg,
      #c68bf0 106.09deg,
      #d164da 153.75deg,
      #c963e8 221.25deg,
      #bfc2e8 258.75deg,
      #ffc999 288.75deg,
      #d0d8c9 315deg,
      #bad0f1 334.13deg,
      #ced8cb 358.97deg,
      rgba(255, 255, 255, 0) 360deg
    );
}

.social-links-item__link_twitter {
  @extend .footer-social-link;
  background: url('../images/twitter-icon.svg') no-repeat
      center,
    $first-background-color;
}

.footer-social-links__title {
  margin-top: 26px;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 0.005em;
  color: $third-text-color;
}

.footer-mobile-store-list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.footer-mobile-store-link {
  display: block;
  height: 35px;
  border-radius: 18px;
}

.social-mobile-store-item__link_google {
  @extend .footer-mobile-store-link;
  width: 107px;
  background: url('../images/google-logo.svg') no-repeat
      17px 7px,
    url('../images/google-store-title.svg') no-repeat
      42.24px 9.29px,
    $eighth-text-color;
}

.social-mobile-store-item__link_ios {
  @extend .footer-mobile-store-link;
  width: 100px;
  background: url('../images/ios-logo.svg') no-repeat 17px
      8px,
    url('../images/ios-store-title.svg') no-repeat 36px
      8.62px,
    $eighth-text-color;
}

.footer-copyright-message {
  margin-top: 84px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  color: $third-text-color;
  text-align: center;
}
