.header-section {
  @extend .section;
  position: relative;
  max-width: 2500px;
}

.header-container {
  @extend .container;
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 48px;
}

.header-logo {
  min-width: 115px;
  height: 34px;
  background-repeat: no-repeat;
  background-image: url('../images/logo.svg');
  background-size: contain;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  width: 459px;
}
.header-nav__item {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.29;
  color: $first-text-color;
  transition: transform 0.5s, color 0.5s;

  &:hover {
    transform: scale(1.1);
    color: $first-accent-color;
  }
}

.header-auth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 177px;
  margin-left: 86px;
}

.header-auth__item {
  position: relative;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.29;
  color: $first-text-color;

  & > a {
    transition: transform 0.5s, color 0.5s;
  }
  & > div {
    display: none;
    position: absolute;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    top: -10px;
    left: -10px;
    border: 1px solid $first-text-color;
    border-radius: 5px;
  }

  &:hover a {
    display: block;
    transform: scale(1.1);
    color: $first-accent-color;
  }

  &:hover div {
    display: block;
  }
}

.header-auth__item_active {
  padding: 9px 22px;
  border: 1px solid $first-text-color;
  border-radius: 5px;
}

.header-locale {
  display: flex;
  align-items: center;
  margin-left: 42px;
  cursor: pointer;
  transition: transform 0.5s, color 0.5s;

  &:hover {
    transform: scale(1.1);
    color: $first-accent-color;
  }
  &::after {
    content: '';
    display: block;
    width: 9px;
    height: 4.5px;
    background-image: url('../images/arrow_down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 6.5px;
    transition: transform 0.5s, color 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.header-background {
  position: absolute;
  top: -40px;
  right: 0;
  width: 705px;
  height: 720px;
  background-image: url('../images/decore.png');
  z-index: -1;
}
